<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lbcy.com.cn.wristband">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- bugly -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="eac3690b0f291e738114073483fc8cca"/>
        <service android:name="com.amap.api.location.APSService">

        </service>

        <service android:name="com.huichenghe.bleControl.Ble.BluetoothLeService" />

        <!-- 登陆引导页 -->
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SportStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AlarmClockListActivity"
            android:screenOrientation="portrait" />
        <activity

            android:name=".activity.SetAlarmClockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanHeartRateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetSedentaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetSedentaryTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetMessagePushActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BasicBodyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyMessageDetailActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.MyNotificationService"
            android:label="@string/app_name"
            android:persistent="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>