<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lbcy.com.cn.wristband">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".test.Main3Activity" />
        <activity android:name=".test.ToolActivity" />
        <activity android:name=".test.ConnectionExampleActivity" />
        <activity android:name=".test.OprateActivity" />
        <activity android:name=".test.RxAndroidBleText">

        </activity>
        <activity android:name=".test.BlackScanTest" />

        <service android:name="com.huichenghe.bleControl.Ble.BluetoothLeService" />

        <!-- 登陆引导页 -->
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SportStatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DeviceSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AlarmClockListActivity"
            android:screenOrientation="portrait" />
        <activity

            android:name=".activity.SetAlarmClockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanHeartRateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetSedentaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetSedentaryTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetMessagePushActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BasicBodyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <activity android:name=".test.PurpleLogin">

        </activity>

    </application>

</manifest>